@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 0 auto;
}

header {
  margin-bottom: 1.25em;
}
