:root {
  --color: lightslategrey;
}

/* Puts each book from the API into a column */
.books {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  overflow: auto;
}

.book {
  border: var(--color) solid 1px;
  display: flex;
  align-items: stretch;
  height: 152px;
  max-width: 700px;
}

.index {
  background-color: grey;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 150px;
  width: auto;
}

.textual {
  min-width: 150px;
}

.name, .author, .description {
  font-size: 16px;
  margin: 5px;
  padding: 0 5px;
  text-align: left;
}

@media (max-width: 400px) {
  .name, .author, .description {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  .name, .author, .description {
    font-size: 20px;
  }
}
